@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
	font-family: 'Montserrat', sans-serif;
}
@keyframes slide-down {
	0% {
		opacity: 0;
		transform: translateY(-10px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes slide-up {
	0% {
		opacity: 0;
		transform: translateY(10px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
@media (prefers-reduced-motion: no-preference) {
	.slide-down[data-reach-menu-list],
	.slide-down[data-reach-menu-items] {
		animation: slide-down 0.2s ease;
	}
}
@media (prefers-reduced-motion: no-preference) {
	.slide-up[data-reach-menu-list],
	.slide-up[data-reach-menu-items] {
		animation: slide-up 0.2s ease;
	}
}

[data-reach-menu-item][data-selected] {
	background: #ebeef5;
}
[data-reach-combobox-option][data-highlighted] {
	background: #ebeef5;
}

@layer components {
	.input {
		@apply block w-full rounded-md shadow-sm focus:outline-none sm:text-sm;
	}

	.input__base {
		@apply border-slate-300 focus:ring-purple-500 focus:border-purple-500 text-slate-700 placeholder-slate-500;
	}
	.input__error {
		@apply pr-10 text-red-900 placeholder-red-300 border-red-300 focus:ring-red-500 focus:border-red-500;
	}
}
